@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 450px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
  margin-right: 1.5rem;
  flex-shrink: 0;
  accent-color: #2e4193;
}

/* Bank select */

.suggest-branch-container,
.suggest-container {
  background-color: white;
  width: 88%;
  border: 2px solid rgba(221, 221, 221, 0.22);
  max-height: 350px;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.17);
}

.suggest-branch-container {
  max-width: 77%;
  position: absolute;
  z-index: 10;
}

.bank-branch-item {
  padding: 6px 15px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.bank-branch-item:hover {
  background-color: rgba(217, 217, 217, 0.9);
}

/* Custom input checkbox */

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border: 1px solid #2e4193;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.custom-checkbox::after {
  content: '';
  position: absolute;
  display: none;
}

input[type='checkbox']:checked + .custom-checkbox::after {
  display: block;
}

.custom-checkbox::after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 11px;
  border: solid #2e4193;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
